.print{
	width: 24%;
}  

.btn
{
	margin: 6px;
	width: 100px;
};

.bg {
    background-color: #93d4f5;
    width: 75%;
    margin-left: 80px;
    padding-left: 65px;
    padding-bottom: 35px;
	margin-top: 65px;
}